dist
node_modules
package.json
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.storybook
.storybook/static
.storybook/public
.storybook/cache
.storybook/temp
.storybook/temp/storyshots
.eslintrc.json
.eslintrc
.prettierrc